doctype html
html
   head
      title= 'LeNet'
      link(rel='stylesheet', href='/stylesheets/style.css')
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
      script(type='text/javascript',src='/javascripts/main_malcolm.js')
      script(src="https://cdn.rawgit.com/oliver-moran/jimp/v0.2.27/browser/lib/jimp.min.js")
   body
      //h1= title
    //p Welcome to #{title}
    //.contentarea
    //    video(id="video" width="160" height="120" autoplay)
    //    canvas(id="canvas")
    //    #buttondiv
    //        button#startbutton
    //    #result
    .contentarea
      p
        | Capture Image and store in local file system
      .camera
        video#video Video stream not available.
        button#startbutton Take photo
      canvas#canvas
      .output
        img#photo(alt='The screen capture will appear in this box.')
    #download
      a#downloadButton.button(href='#', download='image.jpg') Download image
    #result