extends layout

block content
  //h1= title
  //p Welcome to #{title}
  .contentarea
    video(id="video" width="160" height="120" autoplay)
    canvas(id="canvas")
    canvas(id="canvas1")
    canvas(id="canvas2")
    canvas(id="canvas3")
    canvas(id="canvas4")
    canvas(id="canvas5")
    canvas(id="canvas6")

    #buttondiv
      button#startbutton
    #result1
    #result2
    #result3
    #result4
    #result5
    #result6
  //  p
  //    | Capture Image and store in local file system
  //  .camera
  //    video#video Video stream not available.
  //    button#startbutton Take photo
  //  canvas#canvas
    //.output
  //    img#photo(alt='The screen capture will appear in this box.')
  //#download
  //  a#downloadButton.button(href='#', download='image.jpg') Download image


  #result