extends layout

block content
  //h1= title
  //p Welcome to #{title}
  video(id="video" width="160" height="120" autoplay)
  canvas(id="canvas")
  button#startbutton
  #result

  //.contentarea
  //  p
  //    | Capture Image and store in local file system
  //  .camera
  //    video#video Video stream not available.
  //    button#startbutton Take photo
  //  canvas#canvas
  //  .output
  //    img#photo(alt='The screen capture will appear in this box.')
  //#download
  //  a#downloadButton.button(href='#', download='image.jpg') Download image


  #result