body {
  background: black;
  margin: 0;
}

a {
  color: #CCCCCC;
  font-family: sans-serif;
}

#video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 30px;
  bottom: 0px;
}

#frame {
  position:absolute;
  border: solid 2px red;
  z-index: 99999;
}

#canvas {
  display:none;
  z-index: 99999;
}
#canvas1 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:200px;
  position: absolute;
  width: 100px;
  height: 100px;
}
#canvas2 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:230px;
  position: absolute;
}
#canvas3 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:260px;
  position: absolute;
}
#canvas4 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:290px;
  position: absolute;
}
#canvas5 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:320px;
  position: absolute;
}
#canvas6 {
  /*display:none;*/
  z-index: 99999;
  top:0px;
  left:350px;
  position: absolute;
}

.output {
width: 340px;
display:inline-block;
}

#buttondiv {
  text-align: center;
  bottom: 50px;
  position: absolute;
  width: 100%;
}
#startbutton {
  width: 100px;
  height: 100px;
  left: 0px;
  right: 0px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2)
}

#result1 {
  text-align: center;
  top: 50px;
  left: 200px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
#result2 {
  text-align: center;
  top: 50px;
  left: 320px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
#result3 {
  text-align: center;
  top: 50px;
  left: 440px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
#result4 {
  text-align: center;
  top: 50px;
  left: 560px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
#result5 {
  text-align: center;
  top: 50px;
  left: 680px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}
#result6 {
  text-align: center;
  top: 50px;
  left: 800px;
  position: absolute;
  width: 120px;
  height: 120px;
  font-size: 120px;
}


.contentarea {
  height: 100%;
  width: 100%;
}

